<!--xml-->
<launch>
  
  <node name="Motion_Controller_Node" pkg="icarus_rover_rc" type="Motion_Controller_Node" output="screen">
    <param name="DEBUG_MODE" value="1"/> 
	<param name="LOGGING_ENABLED" value="1"/>
  </node>
  <node name="Mavlink_Node" pkg="icarus_rover_rc" type="Mavlink_Node.py" output="screen">
  </node>
  

</launch>
