<!--xml-->
<launch>
  <node name="Motion_Controller_Node" pkg="icarus_rover_rc" type="Motion_Controller_Node">
    <param name="DEBUG_MODE" value="1"/>  
	<param name="LOGGING_ENABLED" value="0"/>
	<param name="Operation_Mode" value="LIVE"/>
	<param name="Northing_Origin_m" value="4510204.909545"/>
	<param name="Easting_Origin_m" value="282054.543418"/>
  </node>
  
  <node name="Mavlink_Node" pkg="icarus_rover_rc" type="Mavlink_Node.py">
  </node>
  
  <node name="Sonic_Controller_Node" pkg="icarus_rover_rc" type="Sonic_Controller_Node">
    <param name="Operation_Mode" value="LIVE"/>
	<param name="DEBUG_MODE" value="1"/>  
	<param name="LOGGING_ENABLED" value="0"/>
    <param name="sc_device" value="/dev/ttyUSB1" />
    <param name="baudrate" value="115200"/>
    <param name="rate" value="50"/>
    <param name="ping_sensor_count" value="5"/>
    <param name="angle_min_deg" value = "-90"/>
    <param name="angle_max_deg" value = "90"/>
    <param name="angle_increment_deg" value = "45"/>
	<param name="beam_width" value="30"/>
    <param name="range_min_m" value = "0.1524"/>
    <param name="range_max_m" value = "6.477"/>
	<param name="points_per_beam" value="30"/>
  </node>
</launch>
