<!--xml-->
<launch>
  <param name="capture_date" value="9Dec2014" />
  <param name="picked_date" value="9Dec2014" />
  <param name="show_images" value="0" />
  <param name="detect_method" value="SURF" />
  <param name="filter" value="DIGITAL_FILTER" />

  <param name="threshold_min" value = "1" />
  <param name="threshold_max" value = "255" />
  <param name="threshold_count" value = "20" />
  
  <param name="erode_max" value="10" />
  
  <param name="dilate_max" value="10" />

  <param name="root_directory" value="/home/pi/catkin_ws/src/icarus_rover_rc/" />
  <param name="template_image_name" value="Template1" />
  <node name="tune_targeting" pkg="icarus_rover_rc" type="tune_targeting" output="screen">
   
  </node>
</launch>
